body {
background-image: url("../img/background.png");
background-repeat: no-repeat;
background-size: cover;

}
.login #login-style {
    position: relative;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F7BD34;
    color: white;
    font-size: 16px;
    padding: 15px 40px;
    left: 50%;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    top: 15%;
    outline: none;


}
#login-style span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#login-style span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
#login-style:hover span {
    padding-right: 25px;
}

#login-style:hover span:after {
    opacity: 1;
    right: 0;
}
#sign {
    display: inline-block;
    padding: 15px 40px;
    color: #aeddf5;
    border-color: #0796C1;
    border: 1px solid;
    text-decoration: none;
    font-size: 14px;
    line-height: 120%;
    background-color: rgba(255,255,255,0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 25px;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    cursor: pointer;
    outline: none;
}
#sign:hover{
    background-color: dodgerblue;
}
#sign:hover span:after {
    opacity: 1;
    right: 0;
    background-color: #aeddf5;
}
#sign span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
#sign span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
#pirma-lapa {
    position: relative;
    display: block;
}
#right-box {
    width: 200px;
    margin-left:50%;
    display: block;
}

.left {
    width: 200px;
    margin-left:25%;
}

h1 {
    font-size: 24px;
    color: gainsboro;
}

p {
    color:gainsboro;
}

#first{
    width: 360%;
    padding-left: 25%;
    padding-right: 220%;
    float: left;
    height: 300px;
    background: url("../img/tuksvidusmelns.png");
    color: black;
    margin-top: 50%;
    box-sizing: border-box;
}

#second {
    width: 23%;
    padding-left: 5.1%;
    margin-left: 1%;
    float: left;
    height: 1725%;
    background: url("../img/fons1.png") ;
    color: black;
    margin-top: 7%;
    position: absolute;
    border-top: 6px outset;
    border-left: 2.5px outset;
    border-right: 2.5px outset;
    border-bottom: 6px outset;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#move {
    width: 300px;
    padding-right:15px;
    float: left;
    height: 320px;
    color: black;
    margin-right: 600px;
    margin-top: 0%;
    position: absolute;
}

.clear {
    clear: both;
}

.for{
    color: gray;
}

#element1 {
    float:left;
    padding-left: 110px;
}
#href-link a {
    text-decoration: none;
    color: #606060;
}

#element2 {
    float:left;
}

input{
    height:11%;
    width: 75%;
    outline: none;
    border-width: 0 0 2px;
    border-color: gray;
}

input:focus {
    border-color: gray;
}

input#mail {
    background-image: url("../img/mail.png");
    background-repeat: no-repeat;
    background-position: 6px;
    border: 1px solid #DADADA;
    margin-top: 10px;
    padding-left: 25px;
    font-size: 14px;
    box-shadow: 0 0 10px;
}

#header img {
    float: right;
    padding-right: 50px;
    padding-top: 25px;
}

#header h2 {
    position: relative;
    top: 18px;
    font-family: serif;
    color: #5a5555;
}

#under-line1{
    margin-right: 85%;
    border-color: #0796C1;
}

#under-line22{
    margin-right: 85%;
    margin-left: 0px;
    border-color: #0796C1;
}
#under-line2{
    margin-right: 80%;
    margin-left: 0px;
    border-color: #0796C1;
}

#under-line3{
    margin-right: 85%;
    margin-left: 0px;
    border-color: #0796C1;
}
input.psw {
    background-image: url("../img/lock.png");
    background-repeat: no-repeat;
    background-position: 6px;
    border: 1px solid #DADADA;
    margin-top: 5px;
    padding-left: 25px;
    font-size: 14px;
    box-shadow: 0 0 10px;
}
input#date {
    background-image: url("../img/old-man-vector-png.png");
    background-repeat: no-repeat;
    background-position: 6px;
    border: 1px solid #DADADA;
    margin-top: 5px;
    padding-left: 25px;
    font-size: 14px;
    box-shadow: 0 0 10px;
    color: #5a5555;
}
input#mail2 {
    background-image: url("../img/mail.png");
    background-repeat: no-repeat;
    background-position: 6px;
    border: 1px solid #DADADA;
    margin-top: 5px;
    padding-left: 25px;
    font-size: 14px;
    box-shadow: 0 0 10px;
}

input#name2 {
    background-image: url("../img/lock2.png");
    background-repeat: no-repeat;
    background-position: 6px;
    border: 1px solid #DADADA;
    padding-left: 25px;
    font-size: 14px;
    box-shadow: 0 0 10px;
    margin-top: 5px;
}

#header2 img {
    float: right;
    padding-right: 50px;
    padding-top: 20px;
}

#header2 h2 {
    position: relative;
    top: 18px;
    font-family: serif;
    color: #5a5555;
}

#first2{
    width: 360%;
    padding-left: 200%;
    padding-right:  15%;
    float: left;
    height:  300px;
    background: url("../img/tuksvidusmelns.png");
    color: black;
    margin-top: 50%;
    box-sizing: border-box;
}
#second2 {
    width: 23%;
    padding-left: 4%;
    float: left;
    height: 1835%;
    background: url("../img/fons1.png");
    color: black;
    margin-top: 6.3%;
    position: absolute;
    border-top: 6px outset;
    border-left: 2.5px outset;
    border-right: 2.5px outset;
    border-bottom: 6px outset;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#move2 {
    width: 300px;
    padding-right:15px;
    float: left;
    height: 320px;
    color: black;
    margin-right: 600px;
    position: absolute;
}

.for2{
    color: gray;
}
#element22 {
    float:left;
}

#otra-lapa {
    position: relative;
    display: none;
}
#right-box2 {
    width: 200px;
    margin-left: 26%;
    display: block;
}



#login-style2 {
    position: relative;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F7BD34;
    color: white;
    font-size: 16px;
    padding: 15px 40px;
    left: 50%;
    border: none;
    cursor: pointer;
    top: 15%;
    border-radius: 25px;
    margin-top: 10%;
}

#login-style2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#login-style2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#login-style2:hover span {
    padding-right: 25px;
}

#login-style2:hover span:after {
    opacity: 1;
    right: 0;
}

#sign2{
    display: inline-block;
    padding: 15px 40px;
    color: #aeddf5;
    border-color: #0796C1;
    border: 1px solid;
    text-decoration: none;
    font-size: 14px;
    line-height: 120%;
    background-color: rgba(255,255,255, 0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 25px;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    cursor: pointer;
    margin-top: 30%;
    outline: none;
}

#sign2:hover{
    background-color: dodgerblue;
}

#sign2:hover span:after {
    opacity: 1;
    right: 0;
}

#sign2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#sign2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
